WIFI_SSID=my-ssid
WIFI_PASSWORD=my-password
MQTT_BROKER=my-local-server-ip
MQTT_PORT=1883
# only set if convigured in ha
MQTT_USER=homeassistant
# only set if convigured in ha
MQTT_PASSWORD=mqtt-password
